/exports/windows/pomoba.exe filter=lfs diff=lfs merge=lfs -text
/exports/mac/pomoba.app filter=lfs diff=lfs merge=lfs -text
/exports/mac/pomoba.app/Contents/MacOS/Simulator filter=lfs diff=lfs merge=lfs -text
